/* ---------------------------------------- */
/* BODY OF SITE */

body {
    margin: 0;
    padding: 0;
    height: 2000px;
}

/* ---------------------------------------- */
/* LOGO AND MENU BAR CONTAINER */

.logoAndMenuBarContainer {
    width: 960px;
    height: 100px;
    
    position: fixed;
    top: 20px;
}

/* ---------------------------------------- */
/* LOGO BUTTON */

.logoButton {
    width: 180px;
    height: 100px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color:#2953ca;
    text-align: left;
    text-decoration: none;
    border-style: none;
    padding: 30px 0px 0px 10px;
    line-height: 1;

    cursor: pointer;
    outline: 0;
  
    position: fixed;
    left: 50%;
    transform: translate(-480px, 0px);  

    opacity: 1;
}
/* 
The outline: 0 in the above code removes the 
blue outline for the button when the button 
is clicked.

Changing the opactiy in the above code
will change how much see-through the button
becomes.  A value of 0 means completely see
through.  A value of 1 means not see through. 
*/

.logoButton:hover {
    background-color: #2953ca;
}
/* 
Change background-color in above code for 
.logoButton:hover to change the button color 
when a mouse hovers over it.
*/

.logoButton:active {
    background-color: #2953ca;
}
/* 
Change background-color in above code 
for .logoButton:hover to change the button 
color when a mouse clicks on it.
*/

/* ---------------------------------------- */
/* 
NO LONGER NEED THIS PART BECAUSE THE 
MAKI HIROSE TEXT IS NOW IN THE LOGO BUTTON 
ABOVE 
*/
/* MAKI HIROSE TEXT */
/*
.logoMaki a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;

    position: fixed;
    left: 50%;
    transform: translate(-470px, 0px);
    top: 55px;
}

.logoHirose a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;

    position: fixed;
    left: 50%;
    transform: translate(-470px, 0px);
    top: 85px;
}
*/

/* ---------------------------------------- */
/* MENU BAR */

.menuUl {
    list-style-type: none;
    overflow: hidden;
    background-color: #cecece;
    
    width: 780px;
    height: 100px;

    padding: 0;
    margin: 0;

    position: fixed;
    left: 50%;
    transform: translate(-300px, 0px);
}

.menuLi {
    float: right;
}

.menuLi a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 41px 30px;
    text-decoration: none;
}

/* Change link color on hover */

.menuLi a:hover {
    background-color: #191919;
    color: white;
}

/* ---------------------------------------- */
/* FIRST FOOTER */

.firstFooter {
    background-color: #2953ca;
    color: white;
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 10px;

    /* 
    This part is if I want to customize the 
    width and positioning of First Footer later.
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* SECOND FOOTER CONTAINER */

.sFooter {
    background-color: #cecece;

    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100px;
    /* 
    This part is if I want to customize the 
    width and positioning of Second Footer later.
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* EMAIL BUTTON */

.sFooterButton1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    background: none;
    text-align: center;
    text-decoration: none;
    border-style: none;

    cursor: pointer;
    outline: 0;

    padding: 0;
    margin: 0;

    position: fixed;
    left: 50%;
    transform: translate(-123.3205px, 10px);
}

/* Change link color on hover of Email Button */

.sFooterButton1:hover {
    color: #2953ca;
}

/* ---------------------------------------- */
/* TEL BUTTON */

.sFooterButton2 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:white;
    background: #cecece;
    text-align: center;
    text-decoration: none;
    border-style: none;

    cursor: pointer;
    outline: 0;

    padding: 0;
    margin: 0;

    position: fixed;
    left: 50%;
    transform: translate(-67.8205px, 35px);
}

/* Change link color on hover of Tel Button */

.sFooterButton2:hover {
    color: #2953ca;
}

/* ---------------------------------------- */
/* LINKEDIN BUTTON */

.sFooterButton3_Outer {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;

    cursor: pointer;

    position: fixed;
    left: 50%;
    transform: translate(-32px, 64px);
}

.sFooterButton3_Inner {
    width: 24px;
    height: 24px;
}

/* ---------------------------------------- */
/* GITHUB BUTTON */

.sFooterButton4_Outer {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;

    cursor: pointer;

    position: fixed;
    left: 50%;
    transform: translate(8px, 64px);
}

.sFooterButton4_Inner {
    width: 24px;
    height: 24px;
}