/* ---------------------------------------- */
/* BODY OF SITE */
body {
    margin: 0;
    padding: 0;

    height: 2000px;

}

/* ---------------------------------------- */
/* MENU BAR AND LOGO CONTAINER */

.menuBarAndLogoContainer {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    line-height: 1;
}

/* ---------------------------------------- */
/* MENU BAR */

.menuUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cecece;
    width: 780px;

    position: fixed;
    left: 50%;
    transform: translate(-300px, 0px);

    z-index: 1;
}

.menuLi {
    float: right;
}

.menuLi a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 41px 30px;
    text-decoration: none;
}

/*Change link color on hover*/

.menuLi a:hover {
    background-color: #191919;
    color: white;
}

/* ---------------------------------------- */
/* LOGO BUTTON */

.logoButton {
    width: 180px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color:#2953ca;
    text-align: left;
    text-decoration: none;
    border-style: none;

    padding: 10px 0px 0px 10px;

    cursor: pointer;
    outline: 0;
  
    position: fixed;
    left: 50%;
    transform: translate(-480px, 0px);
    top: 20px;

    float: left;  

    opacity: 1;
    z-index: 1;
}
/* The outline: 0 in the above code removes the blue outline for the button when the button is clicked */

.logoButton:hover {
    background-color: #2953ca;
}
/* Change background-color in above code for .logoButton:hover to change the button color when a mouse hovers over it */

.logoButton:active {
    background-color: #2953ca;
}
/* Change background-color in above code for .logoButton:hover
to change the button color when a mouse clicks on it */

/* ---------------------------------------- */
/* MAKI HIROSE TEXT */

.logoMaki a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;

    position: fixed;
    left: 50%;
    transform: translate(-470px, 0px);
    top: 55px;
    z-index: 2;
}

.logoHirose a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;

    position: fixed;
    left: 50%;
    transform: translate(-470px, 0px);
    top: 85px;
    z-index: 2;
}

/* ---------------------------------------- */
/* ABOUT ME OUTER CONTAINER */

.aboutMeOuterContainer {
    width: 958px;
    background-color: #white;
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;

    margin: none;
    
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-480px, 140px);
}

.aboutMeTitle {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;

    margin: 20px 0px 20px 0px;
    padding: none;
    
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-479px, 0px);
}

/* ---------------------------------------- */
/* ABOUT ME INNER CONTAINER */

.aboutMeInnerContainer {
    margin: none;
    padding: 0px 20px 0px 20px;
}

.profilePicture {
    height: 200px;
    width: 200px;
    
    position: relative;
    float: left;
    margin: 0px 20px 10px 0px;
}

.bioText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    
    position: relative;
    top: -5px;
    margin: 0px 0px 40px 0px;
}

/* ---------------------------------------- */
/* FIRST FOOTER */

.firstFooter {
    background-color: #2953ca;
    color: white;
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 80px;
    width: 100%;
    height: 10px;
    /* This part is if I want to customize the width and positioning of First Footer later
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* SECOND FOOTER CONTAINER */

.sFooter {
    background-color: #cecece;

    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    /* This part is if I want to customize the width and positioning of Second Footer later
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* TEL BUTTON */

.sFooterButton1 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:white;
    background: #cecece;
    text-align: center;
    text-decoration: none;
    border-style: none;

    cursor: pointer;
    outline: 0;

    padding: 0;
    margin: 0;

    position: fixed;
    left: 50%;
    transform: translate(-67.8205px, 10px);
}

/* Change link color on hover of Tel Button */

.sFooterButton1:hover {
    color: #2953ca;
}

/* ---------------------------------------- */
/* EMAIL BUTTON */

.sFooterButton2 {
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    background: none;
    text-align: center;
    text-decoration: none;
    border-style: none;

    cursor: pointer;
    outline: 0;

    padding: 0;
    margin: 0;

    position: fixed;
    left: 50%;
    transform: translate(-123.3205px, 40px);
}

/* Change link color on hover of Email Button */

.sFooterButton2:hover {
    color: #2953ca;
}