/* ---------------------------------------- */
/* BODY OF SITE */
body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------- */
/* CONTAINER FOR MENU BAR AND LOGO */

.containerMenuBarAndLogo {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    line-height: 1;
}

/* ---------------------------------------- */
/* MENU BAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cecece;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 41px 30px;
    text-decoration: none;
}

/*Change link color on hover*/

li a:hover {
    background-color: #191919;
    color: white;
}

/* ---------------------------------------- */
/* MAKI HIROSE LOGO */

.logoBlueBox {
    width: 180px;
    height: 100px;
    background-color: #2953ca;
    position: relative;
    top: -100px;
    float: left;
    z-index: 1;
}

.logoMaki {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    top: 15px;
    left: 10px;
}

.logoHirose {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    top: -10px;
    left: 10px;
}

/* ---------------------------------------- */
/* ABOUT ME BOX */

.aboutMeBox {
    max-width: 1000px;
    margin: auto;
    padding: -20px;
    line-height: 1;
    background-color: green;

    
}

.aboutMeTitle {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.profilePicture {
    height: 200px;
    width: 200px;
}

.bioText {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}